node.environment=production
cortex.directory=/usr/src/app/etc/mdl
cortex.experimental-enable-dynamic-fields=true
cortex.datasource.type=duckdb
duckdb.connector.init-sql-path=/usr/src/app/etc/duckdb/init.sql
duckdb.storage.access-key=
duckdb.storage.secret-key=
